.movie-container {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  width: 88%;
  max-width: 800px;
  height: 550px;
}

.movie-container img {
  height: 100%;
  object-fit: contain;
}

.info {
  padding: 0 10px;
  font-family: Lato, sans-serif;
}
.info h2 {
  font-size: 33px;
  line-height: 37px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info h3 {
  font-size: 19px;
  margin-top: 12px;
  font-family: Oswald, sans-serif;
}
.info p {
  margin: 20px 0 30px;
}

.info > span {
  margin: 10px 0;
  display: block;
  font-family: Oswald, sans-serif;
}
.info > span:nth-of-type(1) {
  font-weight: bold;
  font-size: 19px;
}
.info > span:nth-of-type(2) {
  font-size: 14px;
}

.info-sections {
  display: flex;
  flex-wrap: wrap;
}
.info-sections div {
  width: 50%;
  font-family: Oswald, sans-serif;
  margin: 8px 0;
  /* font-weight: bold; */
}
.info-sections span {
  display: block;
  font-size: 22px;
  font-weight: normal;
}

.message {
  border-radius: 20px;
  /* background-color: white; */
  margin-top: -50px;
  padding: 20px 40px;
  font-weight: bold;
  z-index: 5;
}

.msg {
  border-radius: 5px;
  background-color: white;
  padding: 15px 30px;
  font-weight: bold;
}

@media screen and (max-width: 890px) {
  .movie-container img {
    width: 300px;
  }
}
@media screen and (max-width: 790px) {
  .movie-container img {
    width: 230px;
  }
}

@media screen and (max-width: 715px) {
  .movie-container {
    flex-direction: column;
    overflow: auto;
    padding-bottom: 25px;
  }
  .movie-container img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 550px) {
  .info h2 {
    font-size: 30px;
  }
  .info h3 {
    font-size: 17px;
  }

  .info p {
    font-size: 15px;
  }
  .info > span:nth-of-type(1) {
    font-size: 17px;
  }
  .info > span:nth-of-type(2) {
    font-size: 12px;
  }

  .info-sections {
    font-size: 14px
  }
  .info-sections span {
    font-size: 18px
  }
}

