.input {
  width: 98%;
  max-width: 350px;
  padding: 5px;
  border-radius: 5px;
}

.auto-box {
  width: 98%;
  max-width: 350px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 90%;
  z-index: 2;
}
.auto-box span {
  display: block;
  font-size: 15px;
  padding: 5px;
}
.auto-box span:hover {
  background-color: rgb(70, 70, 70);
  cursor: pointer;
}

@media screen and (max-width: 615px) {
  .auto-box {
    right: 50%;
    transform: translateX(50%);
  }
}