.top-bar {
  background-color: #032541;
  padding: 0 20px;
  box-shadow: 0 20px 40px black;
}

.top-bar > div, .top-bar nav {
  padding: 10px 0;
  color: white;
  display: flex;
  justify-content: space-between;
}
.top-bar > div {
  border-bottom: 2px solid white;;
}
.top-bar h1 {
  margin: 0;
}

.top-bar ul  {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.top-bar li {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 17px 3px 0;
  cursor: pointer;
}

.nav {
  position: relative;
}

.underline {
  text-decoration: underline;
}